Package: emt.paisseon.satella
Name: Satella-Arabic
Version: 1.8.1
Architecture: iphoneos-arm64
Description: Modern in-app purchase cracker Arabic Version.
Maintainer: Lilliana
Author: Lilliana
Section: Tweaks
Depends: mobilesubstrate, firmware (>= 12.2), preferenceloader, com.opa334.altlist
